header {
    padding: 1rem 2rem;
}

a {
    color: var(--red-color);
    text-decoration: none;

    &:hover {
        color: 666;
    }
}

main {
    overflow-x: auto;
    padding: .4rem;
}

.tasks {
    padding: .4rem;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.text-center {
    text-align: center;
}