<div class="container" *ngIf="model$ | async as model">
    <header>
        Задачи: <strong>{{ model.date | moment:'DD.MM.YYYY' }}</strong>
        <hr/>
    </header>

    <main>
        <ul *ngIf="model.tasks$ | async as tasks; else noTasks">
            <li class="task" *ngFor="let task of tasks; let i = index">
                <span>
                    <strong>{{i + 1}}.</strong>
                    {{task.text}}
                </span>
                <button class="btn btn-primary" (click)="remove(task)">
                    <i class="material-icons">delete</i>
                </button>
            </li>
        </ul>
        <ng-template #noTasks>
            <p class="text-center">Пока нет задачt...</p>
        </ng-template>
    </main>

    <footer>
        <form (ngSubmit)="submit()" [formGroup]="form">
            <input type="text" formControlName="text"/>
            <button 
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="form.invalid"
            >
                Добавить
            </button>
        </form>
    </footer>
</div>