select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;

  flex: 1;
  padding: 0 2rem 0 1rem;
  color: var(--dark-color);
  background-color: var(--light-color);
  background-image: none;
  border-radius: .3rem;
  cursor: pointer; 
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  height: 2rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  margin: .2rem .4rem;
  background-color: var(--light-color);
  transition: 0.25s all ease;
  pointer-events: none;
  cursor: pointer;
}

.select:hover::after {
  color: var(--red-tr-color);
}