<li class="list-group-item" *ngIf="todo">

    <div class="container" *ngIf="!isEditing">
        <i class="hover-cursor material-icons"
            [class.text-success]="todo.isCompleted"
            (click)="changeStatus()"
        >
        {{ todo.isCompleted ? "check_circle" : "radio_button_unchecked" }}
        </i>
        <div class="content">
        <div class="text" [class.text-line-through]="todo.isCompleted">
            {{ todo.text }}
        </div>

        <details class="hover-cursor">
            <summary>Дата</summary>
            <div>
                Создано: {{ todo.createdAt | date: "dd.MM.yyyy hh:mm" }}
            </div>
            <div>
                Изменено: {{ todo.updatedAt | date: "dd.MM.yyyy hh:mm" }}
            </div>
            <div *ngIf="todo.completedAt">
                Завершено: {{ todo.completedAt | date: "dd.MM.yyyy hh:mm" }}
            </div>
        </details>

        </div>
        <i class="hover-cursor text-gray left material-icons" 
            (click)="editTodo()">edit</i>
        <i class="hover-cursor text-danger material-icons"
            (click)="removeTodo()">delete</i>
    </div>

    <form class="container"
        (ngSubmit)="submit()" 
        [formGroup]="editForm" 
        *ngIf="isEditing"
    >
        <input formControlName="text" 
            type="text" 
            class="form-control"
            (blur)="reset()"
            #editInput
        />
        {{ editInput.focus() }}
        <button class="input-group-addon left hover-cursor"
            type="submit"
        >
            <i class="material-icons text-success">check_circle</i>
        </button>
        <button class="input-group-addon hover-cursor"
            type="reset" (click)="reset()" 
        >
            <i class="material-icons text-danger">cancel</i>
        </button>
    </form>
</li>