<form (ngSubmit)="addTodo()"
    class="input-group" 
    [formGroup]="addForm"
  >
    <input formControlName="text" 
      type="text"
      class="form-control" 
      [placeholder]="!error ? 'сделать...' : 'введите что-нибудь...'"
      [class.error]="error"
      (focus)="error = false"
      (blur)="error = false"
      required
    />
    <button class="input-group-addon add hover-cursor"
      type="submit"
    >
      <i class="material-icons">add_circle</i>
    </button>
    <div class="input-group-addon add hover-cursor"
      (click)="sortByCreatedDate(ASK)"
    >
      <i class="material-icons reverse-icon-y">sort</i>
    </div>
    <div class="input-group-addon add hover-cursor"
      (click)="sortByCreatedDate(DESK)"
    >
      <i class="material-icons">sort</i>
    </div>
    <div class="input-group-addon add hover-cursor" 
      (click)="sortByComleted(ASK)"
    >
      <i class="material-icons">check_circle</i>
    </div>
    <div class="input-group-addon add hover-cursor" 
      (click)="sortByComleted(DESK)"
    >
      <i class="material-icons">radio_button_unchecked</i>
    </div>
</form>