:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 60px 20px;
  
    @media screen and (min-width: 380px) {
      padding: 20px 30px 60px 30px;
      transition-property: margin;
      transition-duration: 0.2s;
    }
    @media screen and (min-width: 680px) {
      padding: 20px 50px 60px 50px;
      transition-property: margin;
      transition-duration: 0.2s;
    }
}

.select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

h5, h3 {
  text-align: center;
}

.chart {
  padding: 1rem 0;
}