@use '../common/styles/common';

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 60px 20px 60px 20px;

  @media screen and (min-width: 380px) {
    padding: 60px 30px 60px 30px;
    transition-property: margin;
    transition-duration: 0.2s;
  }
  @media screen and (min-width: 680px) {
    padding: 60px 50px 60px 50px;
    transition-property: margin;
    transition-duration: 0.2s;
  }
}

.banner {
  font-size: 2rem;
  color: var(--dark-color);
  background-color: var(--light-color);
  border-radius: .5rem;
  padding: 2rem 0px
}
