
table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-spacing: 0;

    td, th {
        padding: .5rem 1rem;
    }

    thead {
        border-radius: .5rem .5rem 0 0;
        box-shadow: 0 0 0 1px #000;
    }

    tbody {
        border-radius:  0 0 .5rem .5rem;
        box-shadow: 0 0 0 1px #000;
    }

    td {
        text-align: center;
        transition: all .2s;
        border-radius: .5rem;
        
        &.disabled {
            opacity: .5;
        }

        &:hover:not(.disabled) {
            background: var(--light-color);
            cursor: pointer;
        }
    }

    .active {
        color: var(--red-color);
        font-weight: bold;
    }

    .selected {
        color: blue;
    }
}